.content {
	padding: 100px;
	padding-top: 10px;
}

.extreme {
	background: gold;
	opacity: 0.9;

}

.navzone {
	padding-left: 50px;
	background-color: lightskyblue;
    width: 96%;
    height: 100px;
    overflow: scroll;
}

.prose {
	background: red;
	opacity:  0.5;

}

#head1 {
	text-align: center;
	text-transform: uppercase;


}

#tehlulz {
	text-decoration: line-through;
	text-shadow: 4px 2px coral;
	letter-spacing: -5px;
}
body {
	background: #001514;
	color: #EDF2F4;

}


h1,h2,h3 {
	color: #EDF2F4;
	text-align: center;
	text-shadow: 2px 2px #D90429;

}

ul {
    list-style-type: circle;
    padding-left: 520px;
}

a {
	color: #8D99AE;
	text-shadow: 2px 2px #EF233C;
	font-size: 30px;
}


p {

	line-height: 4;
	font-weight: bold;
}

.navzone {
    overflow: scroll;
}