.extreme{
    font-family: "Georgia", Times, serif;
    size: 15px;
    text-align: left;
 }

 .navzone{
    font-family: "Courier", Times, serif;
    size: 30px;
    text-align: center;
    border: 20px solid rgb(34, 125, 209);
 }

 .content{
    font-family: "Verdana", Times, serif;
    size: 10px;
 }

 #head1{
    font-family: "Arial", Times, serif;
    border: 6px solid rgb(34, 125, 209);
 }

body {
    background-color: gainsboro;
}

a {
    color: navy;
}

ul {
    color: rgb(108, 150, 19);
}

h2 {
    size: 50px;
    color: rgb(177, 40, 231);
}

h3 {
    border: 5px solid;
}